html {
    background-color: grey;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1200px;
    background-color: #DDDDDD;
}

#start {
    position: absolute;
    left: 880px;
    top: 850px;
    font-size: 50px;
}